*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{

    height:  100px;
    background-color: darkgray;
}
a{

}
.menue{
  height: 100%;
  width: 160px;
  position: sticky;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
  float: left;    
}
.content{
    padding-left: 170px;
}
.footer{
    height: 100px;
    background-color: gray;
}
.headding{
    position: sticky;
    top: 0;
    background-color: honeydew;
}

td, th{
    border: 1px solid #dddddd;
    padding: 5px;
    width: 150px;
    text-align: center;
    
  }

ul ,li{
    list-style-type: none;
    margin: 10px auto;
    border: 2px solid black;
    text-decoration: none;
    
}
.states{
    
}
.total{
    background-color: darkgray;

}
.active{
    background-color: lightblue;

}
.recv{
    background-color: greenyellow;

}
.conf{
    background-color: orangered;
}
.deaths{
    background-color: red;

}

